*.retry
*.bak
*.log

scratch*.yml

/temp/

/files/secrets
/files/database
/keys/
/data/

/hosts.yml
/group_vars/all.yml
/group_vars/master.yml
/group_vars/standby.yml
/group_vars/pgpool.yml

/.pyenv/

/.vagrant/
/vagrant-data/
