---

all:
  vars:
    network: '10.0.4.0/24'

  children:
    'master':
      hosts:
        'postgres-n1':
          ansible_host: postgres-n1.internal
          ansible_port: 22
          fqdn: postgres-n1.internal
          hostname: postgres-n1
          ipv4_address: '10.0.4.70'
    'standby':
      hosts:
        'postgres-n2':
          ansible_host: postgres-n2.internal
          ansible_port: 22
          fqdn: postgres-n2.internal
          hostname: postgres-n2
          ipv4_address: '10.0.4.71'
    'pgpool':
      hosts:
        'pgpool':
          ansible_host: pgpool.internal
          ansible_port: 22
          fqdn: pgpool.internal
          hostname: pgpool
          ipv4_address: '10.0.4.80'

 
